.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #F9FFF9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .upload-container {
    text-align: center;
    padding: 20px;
  }
  
  .upload-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    background-color: #dde1f6;
  }
  
  #fileInput {
    display: none;
  }
  
  label {
    display: block;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
  }

  .upload-zone img {
    margin: 0 auto; /* Center the image horizontally */
    display: block;
    margin-bottom: 5%;
  }

  .UploadFileContainer button {
    background-color: #297AC5; /* Replace with your desired background color */
    border-radius: 10px; /* Adjust the value to change the degree of rounded edges */
    padding: 10px 20px; /* Optional - add padding to the button */
    color: #fff; /* Set text color */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Show hand cursor on hover */
    border: none; /* Remove button border */
    outline: none; /* Remove outline on focus */
  }


  
  