.image-container {
    padding-top: 12px;
    display: flex;
    justify-content: center;
  }

.image-container-2{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom:  67px;
}  

  .image-container img {
    width: 400px;
  }

  .image-container-2 img {
    width: 400px;
  }