.my-5{
    display: grid;
    grid-template-columns: 18rem 18rem 18rem;
}

.Templates{
    display: grid;
    justify-content: space-evenly;
}

.TempCard{
    background: white;
    flex: 1 0 16rem;
    transition: 0.2s;
    border-radius: 1em;  
    width: 16rem;
    height: 16rem;
    display: grid;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-right: 10%;
    border: 4px solid whitesmoke;
    position: relative;
  }

  .TempCard:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #434141;
  }

  .TempCard_content{
    display: flex;
    flex-direction: column;
  }

  .TempName{
    font-size: 1.2rem;
    color: black;
  }

  .TempDescription{
    font-size: 0.6rem;
    color: black;
    margin-bottom: 0.4rem;
  }

  .TempSelectionContainer {
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem; 
    width: fit-content;
  }

  .TempSelection{
    font-size: 0.6rem;
  }

  .TemplateImage{
    width: 40%;
  }